@media only screen and (max-width: 600px) {
  #content {
    width: 100vw !important;
    height: 100vh !important;
    margin-top: 0 !important;
    padding-top: 55px !important;
  }
}

#content {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20vh;
}
