<app-topbar></app-topbar>
<!-- Main -->
<div id="content">
  <div *ngIf="user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Poll</h3>
      </div>
      <div class="panel-body">
        <div>
          <div>
            <label>Album Title:</label>
            <br>
            <input #newTitle>
          </div>

          <div>
            <label>Album Artist:</label>
            <br>
            <input #newArtist>
          </div>

          <div>
            <label>Album Description:</label>
            <br>
            <textarea #newDescription></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
