.post {
  margin-bottom: 50px;
  width: 100% !important;
}

#gradient {
  // background: linear-gradient(blue,red);
  padding: 50px;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Crete Round', serif;
  color: rgba(0,0,0,9);
}
