<div *ngIf="user">

  <div *ngFor="let poll of polls | async" class="post">
    <!--Question Gradient-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius (click)="randomizeGradient()">
      <div id="gradient" [ngStyle]="getGradient()">
        {{poll.question}}
      </div>
      <a><div class="mask"></div></a>
    </div>
    <!--Post content content-->
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="btn_choice">
            {{poll.choice1}}
          </div>
        </div>
        <div class="col">
          <div class="btn_choice">
            {{poll.choice2}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
