@media only screen and (max-width: 600px) {
  .post {
    margin-bottom: 0px !important;
    font-size: 16pt !important;
    border-radius: 0 !important;
    background-color: rgba(255,255,255,0.65) !important;
    box-shadow: none !important;
  }
  .btn_choice {
    font-size: 3em !important;
  }
  #topbar {
    font-size: 0.6em !important;
  }
}
.post {
  margin-bottom: 50px;
  width: 100% !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#topbar {
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
  position: relative;
  display: inline;
  font-size: 0.8em;
}

#date {
  text-align: right;
  margin-right: 20px;
}

#username {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 1.2em;
}

#gradient {
  padding: 50px;
  font-size: 3.7em;
  font-weight: bold;
  line-height: 90px;
  font-family: 'Crete Round', serif;
  color: rgba(0,0,0,9);
}

.card-body {
  background-color: rgba(255,255,255,0.9) !important;
  padding: 0;
  margin: 0;
}

.btn_choice {
  border: 0;
  display: block;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: #fff;
  font-family: 'Crete Round', serif;
  text-align: center;
  font-size: 5em;
  position:relative;
}

.btn_choice:hover {
  //background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)) !important;
  background-blend-mode:lighten !important;
}
