@import "~@angular/material/prebuilt-themes/indigo-pink.scss";

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(310deg, #d9afd9, #97d9e1, #A83279, #D38312);
  background-size: 1000% 1000%;

  -webkit-animation: Gradient 25s ease infinite;
  -moz-animation: Gradient 25s ease infinite;
  animation: Gradient 25s ease infinite;

  @-webkit-keyframes Gradient {
      0%{background-position:0% 52%}
      50%{background-position:100% 49%}
      100%{background-position:0% 52%}
  }
  @-moz-keyframes Gradient {
      0%{background-position:0% 52%}
      50%{background-position:100% 49%}
      100%{background-position:0% 52%}
  }
  @keyframes Gradient {
      0%{background-position:0% 52%}
      50%{background-position:100% 49%}
      100%{background-position:0% 52%}
  }
}

.btn-indigo {
  border-radius: 10px !important;
}
