@import "~@angular/material/prebuilt-themes/indigo-pink.scss";

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(310deg, #d9afd9, #97d9e1);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 52%}
      50%{background-position:100% 49%}
      100%{background-position:0% 52%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 52%}
      50%{background-position:100% 49%}
      100%{background-position:0% 52%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 52%}
      50%{background-position:100% 49%}
      100%{background-position:0% 52%}
  }
}

.btn-indigo {
  border-radius: 10px !important;
}
