#login {
  width: 350px;
  margin: 0 auto;
  margin-top: 25vh;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

#google_btn {
  display: block;
  width: 191px;
  height: 46px;
  border: 0;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  background: url('assets/btn_google.png');
  cursor: pointer;
}

#google_btn:hover {
  border: 0;
  cursor: pointer;
  background: url('assets/btn_google_focus.png');
}
