@media only screen and (max-width: 600px) {
  #content {
    width: 100vw !important;
    height: 100vh !important;
    margin-top: 0 !important;
    padding-top: 20vh !important;
  }
}

#content {
  width: 70%;
  margin: 0 auto;
  margin-top: 30vh;
}
